@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&family=Roboto&display=swap');
/*Fuentes
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: beige;
}

@media screen and (min-width: 480px) and (max-width: 780px){
    .menu__boton{
        display: block;
    }
}


@media screen and (max-width: 480px){

}


#grilla {
background-color: beige;
display: grid;
grid-template-areas: 
 "header header header"
 "servicios servicios servicios"
 "footer footer footer";
grid-template-rows: 0.5fr 2fr 1fr ;
grid-template-columns: 20% auto 10%;
height: 100vh;
row-gap: 1px;
gap: 1px;
column-gap: 1px;
}

header {
   grid-area: header;
   background: rgb(107,105,133);
   background: linear-gradient(180deg, rgba(107,105,133,0.969625350140056) 1%, rgba(156,130,57,1) 22%, rgba(188,193,159,1) 94%);
   
}

.header__titulo{

    display: flex;
    flex-direction:column;
    align-items: center;

}
.logo{
    width: 7rem;
    border-radius: 20px;
    
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    /*color: indigo;*/
    color:#230f6b;
    text-align: center;
    text-shadow: 2px 4px 2px #cdd5d8;
}


.menu {
    display:block;
    text-align: center;
    word-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    font-size:28px;
      
}
.menu__boton{
    display: inline-block;
    background-color: aliceblue;
    margin-top: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 12px;
    margin:1%;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #592A08; 
}
.ancla{
    text-decoration: none;
}
main {
    grid-area: servicios;
    grid-template-columns: repeat(3, 1fr);
    color: rgb(99, 23, 23);
    background: rgb(255,238,195);
    background: linear-gradient(180deg, rgba(255,238,195,1) 6%, rgba(84,68,43,1) 100%);
 }



.titulo{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.describa{
    font-family: 'Poppins', sans-serif;
    text-align:center;
    font-weight: bolder;
    font-size:larger;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform:capitalize;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-left: 15px;
}

.section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.galeria{
    position:relative;
    cursor:pointer;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
    
}

.contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    align-items: center;
      
}
.contenedor__titulo{
    grid-column: 1 / span 3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    padding: 1%;
    text-shadow: 2px 2px 2px #888d8f;
}

.parrafo{
    display: block;
    font-size: 30px;
    font-style:italic;
    font-weight: bolder;
    color:#230f6b;
    text-shadow: 2px 3px 2px #888d8f;
    padding: 2%;
    margin: 2%;
}

footer {
    background: rgb(255,238,195);
    background: radial-gradient(circle, rgba(255,238,195,1) 32%, rgba(176,154,121,1) 76%);
    grid-area: footer;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 5px;
     
    
 }

 .describa__footer{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
 }


.redes{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 61px;
    height: 62px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:5;
    margin-right: 5px;
    object-fit: cover;
}

.redes__ig{
    width: 81px;
    height: 82px;
    align-items:center;
    margin-bottom: 25px;
}

.redes__wha{
    width: 61px;
    height: 62px;
    align-content: center;
}

.form{
    color:#230f6b;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    font-weight:bolder;
    font-size:larger;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform:capitalize;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-left: 15px;
}
/* .taxipet{
    display: flex;
    flex-direction: column;
    position:relative;
    width: 7rem;
}
*/
 


