@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&family=Roboto&display=swap');
/*Fuentes
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: beige;
}


#grilla {
background-color: beige;
display: grid;
grid-template-areas: 
 "header header header"
 "servicios servicios servicios"
 "footer footer footer";
grid-template-rows: 0.5fr 2fr 1fr ;
grid-template-columns: 20% auto 10%;
height: 100vh;
row-gap: 1px;
gap: 1px;
column-gap: 1px;
}

header {
   grid-area: header;
   /*background: rgb(107,105,133);
   background: linear-gradient(180deg, rgba(107,105,133,0.969625350140056) 1%, rgba(156,130,57,1) 22%, rgba(188,193,159,1) 94%);*/
   background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(99, 117, 19, 0.73)),
    url(../Images/Mascotas/header2.jpg);
   background-repeat: no-repeat;
      
}

.header__titulo{

    display: flex;
    flex-direction:column;
    align-items: center;

}
.logo{
    width: 7rem;
    border-radius: 20px;
    
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 53px;
    /*color: indigo;*/
    color:#230f6b;
    text-align: center;
    text-shadow: 2px 4px 2px #676a6b;
}

h1:hover{
    transform: scale(1.2);
    text-shadow: 5px 6px 2px #5a5d5e;
}


.menu {
    display:block;
    text-align: center;
    word-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    font-size:28px;
      
}
.menu__boton{
    display: inline-block;
    background-color: aliceblue;
    margin-top: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 12px;
    margin:1%;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #592A08; 
}
.ancla{
    text-decoration: none;
}

.menu__boton:hover{
    /*padding-left: 1.5%;
    padding-right: 1.5%;*/
    background-color:ghostwhite;
    box-shadow: 15px 15px 25px #592A08; 
    transform: scale(1.2);

    
}

main {
    grid-area: servicios;
    grid-template-columns: repeat(3, 1fr);
    color: rgb(99, 23, 23);
    background: rgb(255,238,195);
    background: linear-gradient(180deg, rgba(255,238,195,1) 6%, rgba(84,68,43,1) 100%);
 }



.titulo{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.describa{
    font-family: 'Poppins', sans-serif;
    text-align:center;
    font-weight: bolder;
    font-size:larger;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform:capitalize;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-left: 15px;
}

.section{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

}

.galeria{
    position:relative;
    cursor:zoom-in;
    overflow: auto;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: cover;
    transition:all 1s;
    
}
.galeria:hover{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #592A08; 
    object-fit: cover;
}
/*--- Clase de Pagina de Servicios----*/
.contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    align-items: center;
      
}
.contenedor__titulo{
    grid-column: 1 / span 3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    padding: 1%;
    text-shadow: 2px 2px 2px #888d8f;
}

.parrafo{
    display: block;
    font-size: 30px;
    font-style:italic;
    font-weight: bolder;
    color:#230f6b;
    text-shadow: 2px 3px 2px #888d8f;
    padding: 2%;
    margin: 2%;
}

footer {
    background: rgb(255,238,195);
    background: radial-gradient(circle, rgba(255,238,195,1) 32%, rgba(176,154,121,1) 76%);
    grid-area: footer;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 5px;
     
    
 }
/*
 .describa__footer{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
 }
*/

.redes{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 61px;
    height: 62px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:5;
    margin-right: 5px;
   object-fit: cover;
}
.fa-envelope{
    color: white;
}

.fa-square-facebook{
    color:rgb(7, 15, 179)
}
.fa-whatsapp{
    color: rgb(47, 233, 22);
}

.redes__ig{
    width: 81px;
    height: 82px;
    align-items:center;
    margin-bottom: 25px;
}

.redes__wha{
    width: 61px;
    height: 62px;
    align-content: center;
}


.form{
    color:#230f6b;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    font-weight:bolder;
    font-size:larger;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform:capitalize;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-left: 15px;
}

/* Adaptación de Media Queries*/
@media screen and (min-width: 480px) and (max-width: 780px){
    .menu__boton{
        display: block;
    }
}


@media screen and (max-width: 480px){

}

/* .taxipet{
    display: flex;
    flex-direction: column;
    position:relative;
    width: 7rem;
}
*/
 


