@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&family=Roboto&display=swap');
/*Fuentes
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: beige;
}
